<div>
  <img class='index-beer' src='/images/beer.png' alt='beer' />
  <a href='/beers'><button class='indexButton'>Check the Beers!</button></a>
  <a href='/random-beer'><button class='indexButton'>Check a Random Beer</button></a>
</div>